{{- if .Site.IsServer -}}
{{ $trackingScript := resources.Get "js/matomo-tracking.js" }}
<script data-id="matomo-tracking" data-matomo-tracking-url='{{ $.Site.Params.matomo.url }}' data-matomo-tracking-id='{{ $.Site.Params.matomo.id }}' src="{{ $trackingScript.RelPermalink }}" defer></script>
{{- else -}}
{{ $trackingScript := resources.Get "js/matomo-tracking.js" | minify | fingerprint }}
<script data-id="matomo-tracking" data-matomo-tracking-url='{{ $.Site.Params.matomo.url }}' data-matomo-tracking-id='{{ $.Site.Params.matomo.id }}' src="{{ $trackingScript.RelPermalink }}" {{ if not $.Site.Params.matomo.disableSRI }}integrity="{{ $trackingScript.Data.Integrity }}" crossorigin="anonymous"{{ end }} defer></script>
{{- end -}}
