<div class="MatomoOptout">
{{- $fetchJsonp := resources.Get "js/fetch-jsonp.js" -}}
<script>
if (/MSIE \d|Trident.*rv:/.test(navigator.userAgent))
  document.write(
    '<script src="https:\/\/cdn.jsdelivr.net\/npm\/es6-promise@4\/dist\/es6-promise.auto.min.js" async><\/script>'
  );
</script>
{{- $matomoOptout := resources.Get "js/matomo-optout.js" -}}
{{- if .Site.IsServer -}}
{{- $matomoOptoutBundle := slice $fetchJsonp $matomoOptout | resources.Concat "js/matomo-optout.js" -}}
<script data-id="matomo-optout" data-matomo-optout-url="{{ $.Site.Params.matomoUrl }}" src="{{ $matomoOptoutBundle.Permalink }}" async></script>
{{- else -}}
{{- $matomoOptoutBundle := slice $fetchJsonp $matomoOptout | resources.Concat "js/matomo-optout.js" | minify | fingerprint -}}
<script data-id="matomo-optout" data-matomo-optout-url="{{ $.Site.Params.matomoUrl }}" src="{{ $matomoOptoutBundle.RelPermalink }}" integrity="{{ $matomoOptoutBundle.Data.Integrity }}" async></script>
{{- end -}}
<div class="MatomoOptout-trackMessage">{{ $.Page.Param "matomo.track.message" | default "You are being watched." | markdownify }}</div>
<div class="MatomoOptout-untrackMessage">{{ $.Page.Param "matomo.untrack.message" | default "You are not tracked." | markdownify }}</div>
<button class="MatomoOptout-button MatomoOptout-button--track">{{ $.Page.Param "matomo.track.button" | default "Allow tracking"}}</button> 
<button class="MatomoOptout-button MatomoOptout-button--untrack">{{ $.Page.Param "matomo.untrack.button" | default "Disable tracking"}}</button>
</div>
